.media-controls-bar{
    background-color: #ffffff;
    color: antiquewhite;
    text-align: center;
    width: 100%;
    height: 100%;
}

.media-controls{
    width: inherit;
    height: inherit;
    padding-top: 2px;
    padding-bottom: 2px;
}

.share-screen-icon-selected{
    width: 25px;
    height: 25px;
    color: #33ce31;
    margin-top: 12px;
}

.share-screen-icon {
    width: 25px;
    height: 25px;
    color: #454545;
    margin-top: 12px;
}

.video-icon {
    width: 25px;
    height: 25px;
    color: #454545;
    margin-top: 12px;
}

.audio-icon {
    width: 25px;
    height: 25px;   
    color: #454545;
    margin-top: 12px;
}

.media-button{
    background-color: #ffffff;
    width: 60px;
    height: 45px;
    border-radius: 4px;
    display: inline-block;
}

.media-button:hover{
    background-color: #ddefec;
    cursor: pointer;
}

.ss-button {
    background-color: #ffffff;
    width: 60px;
    height: 45px;
    border-radius: 4px;
    display: inline-block;
}

.ss-button:hover {
    background-color: #ddefec;
    cursor: pointer;
}


.ss-button-selected {
    background-color: #8ef48a;
    width: 60px;
    height: 45px;
    border-radius: 4px;
    display: inline-block;
}

.ss-button-selected:hover {
    cursor: pointer;
}