.drop-down {
    background-color : #e6e6e6;
    height : 44px;
    color: #5b5b5b;
    font-weight: 600;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 14px;
    cursor: pointer;
}

.add-icon {
    width: 14px;
    height: 14px
}

.create-room-button {
    float: right;
    border-radius: 5px;
    margin-top: 4px;
    width: 36px;
    height: 36px;
    padding: 11px;
    cursor: pointer;
}

.create-room-button:hover {
    /* background-color: #b5b5b5;
    color: #292929; */
    background-color: #d4d4d4;
    color: #292929
}

.drop-down-title {
    padding-top: 14px;
    float: left;
}
