.video-control-bar{
    height: 24px;
    background-color: E7E7E7;
    text-align: center;
    width: 100%;
}

.share-screen-icon {
    /* float: left; */
    /* margin-left: 25%; */
    margin-right: 30px;
    margin-top: 4px;
    color: #454545
}

.video-icon {
    /* float: left; */
    /* margin-left: 45%; */
    margin-right: 30px;
    margin-top: 4px;
    color: #454545
}

.audio-icon {
    /* float: left; */
    /* margin-left: 70%; */
    margin-top: 4px;
    color: #454545
}

.share-screen:hover {
    background-color: #EBEBEB;
}

.video-icon:hover {
    background-color: #EBEBEB;
}

.audio-icon:hover {
    background-color: #EBEBEB;
}
