/* @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700'); */
@import url('https://fonts.googleapis.com/css?family=Open Sans:300,400,600,700');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

*.unselectable {
  -webkit-user-select: none;
}

/* .container {
  padding: 0 1rem;
} */

/* .btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
} */

.App {
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
}

.header-bar {
  position: sticky;
  height:62px;
  top:0px;
}

.line-horizontal-white {
  height: 1px;
  background-color: #FFFFFF
}

.line-horizontal-gray {
  height: 1px;
  background-color: #dadada
}

.scroll-content {
  background-color: #ffffff;
  overflow: auto;
  position: absolute;
  top: 62px;
  left: 0px;
  right: 0px;
  /* overflow-y:scroll; */
}

.rooms-search-footer {
  position: fixed;
  bottom: 0px;
  height: 50px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  border-top: 1px solid #dadada;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
}