.Login {
    height: 100vh;
    width: 100vw;
    padding: 24px;
    background-color: white;
}

.logo_header {
    color: #222e64;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1.2px;
    padding-bottom: 22px;
    font-family: 'Montserrat Alternates';
    user-select: none;
}

.Login > input {
    height:44px;
    width: 100%;
    font-size: 14px;
    color: #1e1e1e;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #E7E7E7;
    padding-left: 20px;
    font-weight: 300;
}

.Login > input:hover {
    background-color: #E0E0E0;
}

.Login > input:focus {
    outline: none;
    border: 1px solid #add2ef;
    background-color: #E7E7E7;
}

.bottom-text {
    font-size: 13px;
    font-weight: 300;
    color: #454545;
    user-select: none;
}

.login-button {
    background-color: #9FC2E3;
    border-radius: 3px;
    border: 0px;
    width: 100%;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: white;
    text-align: center;
    padding-top: 14px;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2), 0 6px 4px -4px rgba(0, 0, 0, 0.19);
}

.login-button:hover {
    background-color: #ADD1EC;
    box-shadow: gray;
}